html {
  scroll-behavior: smooth;
}

body {
  color: $secondarycolor;
  line-height: 1.5;
  font-family:  $base-font-family;
  background: $white;
  font-size: 16px;
  overflow-x: hidden;
}


img {
  max-width: 100%;
}

h1, h2, p {
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  color: $secondarycolor;
  line-height: 1;
  font-size: 2.5rem;

  @include mq {
    font-size: 4.25rem;
  }
}


a {
  color: $primarycolor;
}

