
.post-area {
    @include container;
  }

.post {
    padding-left: 10%;
    padding-top: 15px;
    width: 80%;
    h1  {
        font-weight: 300;
        font-size: 2.5rem;
        padding-bottom: .5rem;
        margin-bottom: 0;
      }
    h2 {
      font-weight: 300;
      font-size: 1.75rem;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    h3 {
      font-weight: 300;
      font-size: 1.25rem;
      margin-top: 0;
      padding-bottom: 0;
    }
    p, blockquote {
        font-size: 1.2rem;
        color: $secondarycolor;
    }
    @media  (max-width: 648px) {
      padding-left: 0;
      padding-top: 5px;
      width: 100%;
      h1  {
        font-size: 1.8rem;
      }
    }
}

.post-category {
  background-color: #cccccc;
  color: $secondarycolor;
  padding: 6px;
  margin-right: 12px;
  font-size: 14px;
}

.external {
	border-left: solid 8px $light-gray;
	margin-bottom: 0;
	padding-bottom: 0;
	padding-left: .8em;
}