<section  class="home-hero-image" style="background-image: url(/images/header-images/{{ headerImage }});">
  <div class="home-hero-callout">
   <h1> Hi there, I am Peter Kaizer</h1>
    <p>I am a designer & developer with a passion for user focused digital products that are highly functional and beautifully designed.</p>
    <p>My current job is Senior Designer for <a href="https://www.boozallen.com">Booz | Allen | Hamilton</a> where I currently am doing design work for the <a href="https://www.USPS.com">USPS</a>.</p>
    <p>This is my personal web space, where I post about technology, design and food, along with other things that catch my eye. You can read more about me or contact me.</p>
    <p>Also check out my recommended books site.</p>
  </div>
</section>