<section class="featured-project">
<h1><i class="fal fa-desktop-alt"></i> Featured Project</h1>
<div class="project">
    <div><img src="/images/portfolio/Medicaid-2018-600.png" /></div>
    <div>
      <h3>Medicaid.gov</h3>
      <p>Design and front-end dev lead lead on a Medicaid project establishing a design system for their 2 primary websites that will be based on the US Web Design Standards.</p>
      <p><strong>Type:</strong> Website</p>
      <p><strong>Skills:</strong> Website design, Sketch, front-end development</p>
      <p><strong>Role:</strong> Design and front-end dev lead</p>
      <p><strong>Visit site:</strong> <a href="https://www.medicaid.gov/">https://www.medicaid.gov/</a></p>
  </div>
</div>
 <div class="home-see-all"><h3><a href="/portfolio.html">See all projects<i class="fa fa-arrow-right fa=2x" aria-hidden="true"></i></a></h3></div>
</section>