<section class="featured-project">
<h1><i class="far fa-image"></i> Featured Photo Gallery</h1>
<div class="project">
    <div><img src="/images/photos/maine/maine-2019.jpg" /></div>
    <div>
      <h3>Maine - Summer 2019</h3>
      <p>My wife and I have been going to Maine for the past 5 summers. We usually fly into Portland, ME. Spend a few nights there enjoying the city and the fabulous food scene the and then head about 3 hours north to Deer Isle.</p>
      <p><strong> <a href="/photos/maine-summer-2019/">Visit photo gallery</a></strong></p>
  </div>
</div>
 <div class="home-see-all"><h3><a href="/photos/">See all photo galleries<i class="fa fa-arrow-right fa=2x" aria-hidden="true"></i></a></h3></div>
</section>