$white: #FFFFFF;
$light-gray: #E8E9EB;
$gray: #A7A7A7;
$dark-gray: #606060;
$accent: rgb(193,39,44);
$dark-blue: #223843;

// Define your design’s palette by choosing three main colours
$primarycolor 					: rgb(193,39,44);
$secondarycolor 				: rgb(74,74,74);
$tertiarycolor 					: rgb(41,47,54);


// Colors
$red: rgb(193,39,44);
$dark-gray: rgb(74,74,74);
$medium-gray: #999;
$light-gray: #ddd;
$black: #000;
$white: #fff;