<!doctype html>
<html lang="en">
    {% include "head.njk" %}
  <body>
     {% include "header.njk" %}
     {% include "header-image.njk" %}
      {{ content | safe }}
      {% include "footer.njk" %}
     <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
      <script>
      {% include "js/main.js" %}
      {% include "js/photoset.js" %}
      {% include "js/navigation.js" %}
      </script>

  </body>
</html>



