<!doctype html>
<html lang="en">
   {% include "head.njk" %}
  <body class="{{ bodyClass }}" >
     {% include "header.njk" %}
     {% include "header-image.njk" %}

<div class="page-area">
	<section class="article-area">
	  			<h1>{{ title }}</h1>

	    		 {{ content | safe }}

	</section>
</div>

      {% include "footer.njk" %}
      <script>{% include "js/main.js" %}</script>
  </body>
</html>