<!doctype html>
<html lang="en">
   {% include "head.njk" %}
  <body class="{{ bodyClass }}" >
     {% include "header.njk" %}

<div class="photo-page-area">
	<section class="photos-landing">
	  	<div class="post-content">
	  		<h1>{{ title }}</h1>

	    	{{ content | safe }}
	</section>
</div>

      {% include "footer.njk" %}
      <script>
      {% include "js/main.js" %}
      </script>
  </body>
</html>